body {
  margin: 10px;
		background-color: #8e8e90;
		font-family: 'Quicksand', sans-serif;
		 font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	 font-weight: 500;
 }

 img {
	     max-width: 100%;
	         max-height: 100%;
	 }

.sidebar {
		grid-area: sidebar;
	}

	.sidebar2 {
		grid-area: sidebar2;
	}

	.content {
		grid-area: content;
	}

	.header {
		grid-area: header;
	}

	.footer {
		grid-area: footer;
	}

	.contents1 {
		grid-area: contents1;
	}

	.contents2 {
		grid-area: contents2;
	}

	.wrapper {
		background-color: #8e8e90;
		color: #444;
	}

  .wrapper {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "contents1"
     "contents2"
     "sidebar2"
     "footer"
  }

	@media only screen and (min-width: 500px)  {
	.wrapper {

		grid-template-columns: 20% auto;
		grid-template-areas:
                "header   header"
		"sidebar  content"
		"sidebar2 sidebar2"
		"footer   footer";
	}
	}

	@media only screen and (min-width: 600px)   {
		.wrapper {   
                        grid-gap: 10px;
			grid-template-columns: 120px auto auto 120px;
			grid-template-areas:
                        "header  header  header header"
			"sidebar content content sidebar2"
			"sidebar contents1 contents2 sidebar2"
			"footer  footer  footer footer";
			max-width: 100%;
		}
	}

.box {
  background-color: #bd8c7d;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%; 
}

.header,
.footer {
  background-color: #49494b;
}

.sidebar2 
{
  background-color: #d1bfa7;
  color: #444;
}

.sidebar
{
  background-color: #C2C2C2;
  color: #444;
}
